name = "xpandorax"
pages_build_output_dir = "./build/client"
compatibility_date = "2024-12-01"

[env.production]
vars = { APP_NAME = "XpandoraX", APP_URL = "https://xpandorax.com", B2_BUCKET_NAME = "xpandorax-com", B2_REGION = "us-east-005", B2_ENDPOINT = "s3.us-east-005.backblazeb2.com", CDN_URL = "https://cdn.xpandorax.com" }